<form action="{% url 'blog:addblog' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="group">
        <label for="" >Title</label>
        {{addblog.title}} <br><br>

        <label for="">Body</label>
        {{addblog.body}}<br><br>

        <label for="">Img</label>
        {{addblog.img}}<br><br>

        <label for="">ImgAuthor</label>
        {{addblog.imgAuthor}}<br><br>

        <label for="">Author</label>
        {{addblog.author}}<br><br>
        
    </div>
    <input type="submit" value="OK">
</form>