{% extends 'index.html' %}
{% load static %}
{% block title %} BLOG {% endblock %}
{% block content %}
<br><br><br>
   
    <section id="blog" class="blog-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Blog
                        </h3>
                        <p class="subtitle-a">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <a href="{% url 'blog:addblog' %}" class="nav-link text-center h3">AddBlog</a>
           
            <div class="row">
                {% for i in obj %}
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <a href="{% url 'blog:detiel' i.id %}"><img src="{{i.img.url}}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="card-body">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">Web Design</h6>
                                    </div>
                                </div>
                                <h3 class="card-title"><a href="{% url 'blog:detiel' i.id %}">{{ i.title.upper }}</a></h3>
                                <p class="card-description">
                                    {{i.body| truncatechars:100| safe }}
                                </p>
                            </div>
                            <p><a href="{% url 'blog:updateblog' i.id %}" class="nav-link text-center h4">UpdateBlog</a></p>
                            <p><a href="{% url 'blog:deleteblog' i.id %}" class="nav-link text-center h4">DeleteBlog</a></p>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#">
                                        <img src="{{i.imgAuthor.url}}" alt="" class="avatar rounded-circle">
                                        <span class="author">{{i.author}}</span>
                                    </a>
                                </div><br>
                                <div class="post-date">
                                    <span class="ion-ios-clock-outline"></span> {{i.date|date:"d M Y"}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    </section>
{% endblock %}

