<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{{blog.title}}</h1>
    <input type="submit" value="OK"> <br><br>
    <a href="{% url 'blog:blog' %}">ortga</a>
</form>