
{% extends 'index.html' %}
{% block title %} {{blog.title}} {% endblock %}
{% block content %}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container">
    <br><br><br><br>
    <div class="row pt-3">
        <div class="col-md-10">
            <marquee behavior="alternate" direction="left" bgcolor="#ffcc00"><span><i class="fas fa-eye fa-2x p-2" > <span >{{blog.blog_count}} views</span></i></span></marquee>
            <div class="card card-blog">
                <div class="card-img">
                   <img src="{{blog.img.url}}" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                    <div class="card-category-box">
                        <div class="card-category">
                            <h6 class="category">Web Design</h6>
                        </div>
                    </div>
                    <h2 class="card-title text-center ">{{ blog.title.upper }}</h2>
                    <p class="card-description">
                        {{blog.body}}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="post-author">
                        <a href="{% url 'blog:blog' %}">
                            <img src="{{blog.imgAuthor.url}}" alt="" class="avatar rounded-circle">
                            <span class="author">{{blog.author}}</span>
                        </a>
                    </div>
                    
                    <div class="post-date">
                        <span class="ion-ios-clock-outline"> {{blog.date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}