<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="group">
        <label for="" >Title</label>
        {{form.title}} <br><br>

        <label for="">Body</label>
        {{form.body}}<br><br>

        <label for="">Img</label>
        {{form.img}}<br><br>

        <label for="">ImgAuthor</label>
        {{form.imgAuthor}}<br><br>

        <label for="">Author</label>
        {{form.author}}<br><br>
        
    </div>
    <input type="submit" value="OK">
</form>