{% extends 'index.html' %}
{% load static %}
{% block title %} CONTACT {% endblock %}
{% block content %}
<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
style="background-image: url({% static 'img/overlay-bg.jpg' %})">
<div class="overlay-mf"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title-box-2">
                                <h5 class="title-left">
                                    Send Message Us
                                </h5>
                            </div>
                            <div>
                                <form action="" method="POST" cenctype="multipart/form-data" class="contactForm">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">USERNAME:</label>
                                        {{form.name}} <br>
                                        <label for="">Emailuser</label>
                                        {{form.email}} <br>
                                        <label for="">Subject</label>
                                        {{form.subject}} <br>
                                        <label for="">Text</label>
                                        {{form.text}}
                                    </div>
                                    <input type="submit" value="SUBMIT">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="title-box-2 pt-4 pt-md-0">
                                <h5 class="title-left">
                                    Get in Touch
                                </h5>
                            </div>
                            <div class="more-info">
                                <p class="lead">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum
                                    dolorem soluta quidem
                                    expedita aperiam aliquid at.
                                    Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                                    mollitia inventore?
                                </p>
                                <ul class="list-ico">
                                    <li><span class="ion-ios-location"></span>Samarkand City 119-67 </li>
                                    <li><span class="ion-ios-telephone"></span> +998 97 917 65 17</li>
                                    <li><span class="ion-email"></span> yusuf@gmail.com</li>
                                </ul>
                            </div>
                            <div class="socials">
                                <ul>
                                    <li><a href=""><span class="ico-circle"><i
                                                    class="ion-social-facebook"></i></span></a></li>
                                    <li><a href=""><span class="ico-circle"><i
                                                    class="ion-social-instagram"></i></span></a></li>
                                    <li><a href=""><span class="ico-circle"><i
                                                    class="ion-social-twitter"></i></span></a></li>
                                    <li><a href=""><span class="ico-circle"><i
                                                    class="ion-social-pinterest"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
{% endblock %}