<form action="{% url 'work:addwork' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="group">
        <label for="" >IMG</label>
        {{addwork.img}} <br><br>

        <label for="">Name</label>
        {{addwork.name}}<br><br>

        <label for="">TITLE</label>
        {{addwork.title}}<br><br> 
    </div>
    <input type="submit" value="OK">
</form>