{% extends 'index.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block content %}
<br><br><br>
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Check out my amazing portfolios. Approved by many of my clients.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
            <h3 style="margin:3px auto;"><a class="link" href="{% url 'work:addwork' %}" >ADDWork</a></h3>
        </div>
            <div class="row">
                {% for i in obj %}
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="{{i.img.url}}" data-lightbox="gallery-mf">
                            <div class="work-img">
                                <img src="{{i.img.url}}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">{{i.name}}</h2>
                                        <div class="w-more">
                                            <span class="w-ctegory">{{i.title.upper}}</span> / <span class="w-date">{{i.date}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="w-like">
                                            <span class="ion-ios-plus-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <!-- <!-- <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/work-2.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/work-2.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Akmalov Rustam</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Nov.
                                            2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/work-3.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/work-3.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Bahriddinov Madrahim</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Nov.
                                            2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/work-4.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/work-4.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Bobur Boymamatov</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Nov.
                                            2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/work-5.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/work-5.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Xafizov Aslbek</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Nov.
                                            2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/work-6.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/work-6.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Ma'mirzayev Suhrob</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Nov.
                                            2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>-->

        </div> 
    </div>
</section>

<div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="{% static 'img/testimonial-2.jpg' %}" width="150px" height="150px" alt=""
                                class="rounded-circle b-shadow-a">
                            <span class="author">Allayorov Yusuf</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                I started a job and I will continue to the end and finish it. I believe in my own
                                experience. I try to project as our clients want.
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="{% static 'img/testimonial-4.jpg' %}" width="150px" height="150px" alt=""
                                class="rounded-circle b-shadow-a">
                            <span class="author">Xafizov Aslbek</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nulla facilis
                                itaque cupiditate accusantium deserunt omnis placeat at error molestiae.
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}