{% extends 'index.html' %}
{% load static %}
{% block title %} ABOUT {% endblock %}
{% block content %}
<br>
<section id="about" class="about-mf sect-pt4 route mt-5">
    <div class="container">
        <div class="row">
            {% for i in about %}
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{{i.img.url}}" class="img-fluid rounded b-shadow-a"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Yusuf Allayorov</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span>
                                        </p>
                                        <p><span class="title-s">Email: </span> <span>{{i.email}}</span></p>
                                        <p><span class="title-s">Phone: </span> <span>{{i.phone}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>HTML</span> <span class="pull-right">{{i.html}}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{i.html}}%;"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>CSS3</span> <span class="pull-right">{{i.css}}%</span>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{i.css}}%"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>Python</span> <span class="pull-right">{{i.py}}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{i.py}}%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">{{i.js}}%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{i.js}}%"
                                        aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    My full name is Allayorov Yusuf Shobdulla's son. I was born in Chirakchi
                                    district of Kashkadarya region. My date of birth is March 8, 2000. I am the
                                    eldest son in the family.
                                </p>
                                <p class="lead">
                                    I have been interested in reading since I was young. I love math so much. I am
                                    currently studying at Samarkand State University, Faculty of Digital
                                    Technologies. My direction is Applied Mathematics and Informatics.
                                </p>
                                <p class="lead">
                                    My motto in life is "Always be the first. Be a patient person and move forward
                                    towards your goal. If you have a goal, move to the end. Don't avoid working."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    

    
{% endblock %}