{% extends 'index.html' %}
{% load static %}
{% block title %} HOME {% endblock %}

{% block content %}
<div id="home" class="intro route bg-image mt-5" style="background-image: url({% static 'img/intro-bg.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am Yusuf Allayorov</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Web Developer,
                        Frontend Developer,Backend Developer</span><strong class="text-slider"></strong></p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>


{% endblock %}