{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!--/ Bootstrap fayli /-->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--  CSS kutubxonalari -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!--/ Asosiy CSS fayli /-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!--/ Menu boshlandi /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll font-weight-bold" href="{% url 'home' %}">Dev<span style="color:deeppink;">Yusuf</span></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll " href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="{% url 'about:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="{% url 'services:services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="{% url 'work:work' %}">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="{% url 'blog:blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="{% url 'contact:contact'%}">Contact</a>
                    </li>
                    <nav class="navbar p-0">
                        <form class="form-inline">
                          <input class="form-control mr-sm-2" type="text" name="yus" placeholder="Search">
                          <button class="btn btn-success" type="submit">Search</button>
                        </form>
                    </nav>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Menu tugadi /-->
    {% block content %}
    <!--/ Slayd boshlandi /-->
    
    <!--/  Slayd tugadi /-->

    <!--/  About boshlandi /-->
    
    <!--/  About tugadi /-->

    <!--/ Servisce boshlandi /-->
    
    <!--/ Service tugadi /-->

    

    <!--/ Portfolio boshlandi /-->
    
    <!--/ Portfolio tugadi /-->

    <!--/ Section Testimonials Star /-->
    

    <!--/ Blog boshlandi /-->
    
   
    <!--/ Blog tugadi /-->

    <!--/ Contact-Footer boshlandi /-->
    
    <!--/  Contact-footer tugadi /-->
    
    
    {% endblock %}
    <footer class="bg-dark pt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright <strong>DevYusuf</strong>. All Rights Reserved</p>
                        <div class="credits">
                            Designed by <a href="{% url 'home' %}">Allayorov Yusuf</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <!-- JavaScript kutubxonalari -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/popper/popper.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/typed/typed.min.js' %}"></script>
    <!-- Contact Form JavaScript fayllari -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Asosiy Javascript fayli -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>